.metrix-instrument-analog-meter {
    & > div {
        background-color: #8888;
        object-fit: fill;
    }
    &  object {
        /*display: none;*/
        width: 100%;
    }

    background-color: #eee;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
