.metrix-instrument-analog-meter {
    & > object {
        width: 100%;
    }

    width: 20em;
    height: 20em;
    background-color: #eee;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
