{% extends "base.html.twig" %}
{% block body %}
    <div  class="metrix-dashboard">
        <h1>Toto bude METRIX</h1>
        <div data-metrix-instrument="test"></div>
        <div data-metrix-instrument="analog-meter"></div>
        <div data-metrix-instrument="unknown"></div>
    </div>
{% endblock %}
